body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align:center;
}

/* navigation bar */

.nav {
  height: 50px;
}

.logo {
  float: left;
}

.nav-bar{
  padding-top: 25px;
  float: right;
}

.nav-bar a {
  padding: 25px 50px;
}

/* header */

.header {
  color: white;
  background-color: #FF7F50;
  padding: 200px 0;
}
